{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }} <!--super() function tells inja not to override any code that is defined in the block-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}

    <div class="container" style="font-family: 'Russo One', sans-serif;">
      <div class="row" style="margin-top:30px">
        <h4 class="text-left"><a class="btn btn-primary" href="/add/category"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Add Category </a></h4>

          {{ macro.displayCategoryList(categories) }}
        </div>
    </div>

{% endblock %}